ultralytics
matplotlib==3.8.3
streamlit-webrtc
opencv-python==4.9.0.80
pillow==10.2.0
pytube==15.0.0
ffmpeg-python
dill
pip uninstall opencv-python
pip install opencv-python
pip install opencv-python-headless
conda install -c conda-forge opencv
pip install opencv-contrib-python
